---
import { getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogsLayout from "../../../layouts/BlogsLayout.astro";
import { MdOutlineKeyboardBackspace } from "react-icons/md";
import {
	getArticleSchema,
	blogsWebsite,
} from "../../../utils/structuredData";

interface Props {
	post: CollectionEntry<"blogs">;
	prev: CollectionEntry<"blogs"> | null;
	next: CollectionEntry<"blogs"> | null;
}

export async function getStaticPaths() {
	const blogPosts = await getCollection("blogs");
	return blogPosts.map((post: any, index: number) => ({
		params: { slug: post.id },
		props: {
			post,
			prev: index > 0 ? blogPosts[index - 1] : null,
			next: index < blogPosts.length - 1 ? blogPosts[index + 1] : null,
		},
	}));
}

const { post, prev, next } = Astro.props;

if (!post) {
	return { status: 404 };
}

const { Content } = await render(post);

const articleStructuredData = getArticleSchema(post);

const breadcrumbsStructuredData = {
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	itemListElement: [
		{
			"@type": "ListItem",
			position: 1,
			name: "blogs",
			item: `${import.meta.env.SITE}/blogs/`,
		},
		{
			"@type": "ListItem",
			position: 2,
			name: post.data.title,
			item: `${import.meta.env.SITE}/blogs/${post.id}/`,
		},
	],
};

const jsonLd = {
	"@context": "https://schema.org",
	"@graph": [articleStructuredData, breadcrumbsStructuredData, blogsWebsite],
};
---

<BlogsLayout post={post} prev={prev} next={next}>
	<script
		is:inline
		type="application/ld+json"
		set:html={JSON.stringify(jsonLd)}
	/>
	<div class="font-sans">
		<h1 class="text-primary font-serif text-[2.5rem] tracking-tight">
			{post.data.title}
		</h1>

		<p class="text-title mb-2 text-base font-medium tracking-tight">
			{post.data.excerpt}
		</p>

		<p class="text-body text-sm font-normal">
			{
				new Date(post.data.date).toLocaleDateString("en-US", {
					day: "numeric",
					month: "short",
					year: "numeric",
				})
			}
		</p>

		<article
			class="prose prose-sm prose-headings:text-title prose-a:text-primary prose-a:underline-offset-4 prose-blockquote:text-title prose-strong:text-body prose-code:p-1.5 prose-code:text-[12px] prose-pre:text-wrap prose-pre:rounded-md prose-li:marker:text-body prose-img:h-auto prose-img:max-w-full prose-img:rounded-lg prose-img:border prose-img:border-body/20">
			<div class="text-body font-normal">
				<Content />
			</div>
		</article>
	</div>

	<!-- Navigation between blogs previous and next -->
	<div
		class="text-body flex justify-between font-sans text-sm underline-offset-4 transition-colors duration-150">
		{
			prev ? (
				<a
					href={`/blogs/${prev.id}`}
					class="md:hover:text-primary max-w-xs truncate md:hover:underline">
					<MdOutlineKeyboardBackspace className="-mt-0.5 inline-block" />
					{prev.data.title}
				</a>
			) : (
				<div />
			)
		}
		{
			next && (
				<a
					href={`/blogs/${next.id}`}
					class="md:hover:text-primary max-w-xs truncate text-right md:hover:underline">
					{next.data.title}
					<MdOutlineKeyboardBackspace className="-mt-0.5 inline-block rotate-180" />
				</a>
			)
		}
	</div>
</BlogsLayout>
