---
import "../styles/global.css";
import { AstroFont } from "astro-font";
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import BlogNav from "../components/BlogNav.astro";
import BottomBlur from "../components/BottomBlur.astro";
import type { CollectionEntry } from "astro:content";
import Metadata from "../components/Metadata.astro";

interface Props {
	post: CollectionEntry<"blogs">;
	prev: CollectionEntry<"blogs"> | null;
	next: CollectionEntry<"blogs"> | null;
}

export async function getStaticPaths() {
	const blogPosts = await getCollection("blogs");
	return blogPosts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;

if (!post) {
	return { status: 404 };
}
---

<!doctype html>
<html lang="en" class="bg-bgColor">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="consultant helping businesses automate workflows through ERP systems" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<Metadata
			slot="head"
			title={post.data.title}
			description={post.data.excerpt}
			image={`${import.meta.env.SITE}/blogs/${post.id}/og.png`}
			canonicalUrl={`${import.meta.env.SITE}/blogs/${post.id}/`}
			publishedTime={post.data.date.toISOString()}
			type="article"
		/>

		<title>blogs • {post.data.title}</title>
		<AstroFont
			config={[
				{
					name: "Satoshi",
					src: [
						{
							style: "normal",
							weight: "400 500 600 700 800 900",
							path: "./public/fonts/Satoshi-Variable.woff2",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
				{
					name: "Instrument-Serif",
					src: [
						{
							style: "normal",
							weight: "400",
							path: "./public/fonts/InstrumentSerif-Regular.ttf",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "serif",
				},
			]}
		/>
	</head>
	<body
		class="text-body selection:bg-primary selection:text-hoverColor mx-auto my-8 max-w-[400px] px-4 md:my-16 md:max-w-[600px]">
		<main class="font-sans">
			<BlogNav />
			<slot />
			<Footer />
			<BottomBlur />
		</main>
		<ClientRouter />
	</body>
</html>
